    body{
    background-image: linear-gradient(-90deg,darkcyan,#4fd5ec,rgb(35, 221, 221),rgb(21, 199, 199),rgb(6, 146, 146));
    /* background-repeat: no-repeat; */
    background-size: contain;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.chatcont{
    display: flex;
    flex-direction: row;
    justify-content:10px;
}
.chat{
    background-color: pink;
    
}
.chattext{
    background-color: blue;
}
.homemain{
    width:100%;
    height:100%;
    color:white;
    text-align: center;
}
.loginbtn{
    width:20%;
    height:100%;
    padding:5px 5px 5px 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 100px;
    border: 2px rgb(220, 255, 255) solid;
    color:white;
    background: linear-gradient(-45deg,rgb(123, 240, 220),#10BCBC,#14E1E1,#053939,#0D9696);
}
.loginbtn:hover{
    background: linear-gradient(45deg,rgb(123, 240, 220),#10BCBC,#14E1E1,#053939,#0D9696);

}